{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SSUTUDY</title>
        <link rel="stylesheet" href="{% static '/css/index.css' %}">
    </head>
    <body>
        <div id="login">
            <h1>로그인 페이지</h1>
            <br>
            {% if user.is_authenticated %}   
            <img src="{{user.profile_img.url}}" alt="프로필사진" style="width: 200px; height:150px;">
            {{user.username}}님 환영합니다.
            <br>
            <a href="/SSUTUDY">홈으로</a>
            <br>
            <a href="{% url 'user:logout' %}">로그아웃</a>
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <a>ID &nbsp;</a>
                <input name="username" type="text">
                <br>
                <br>
                <a>PW</a>
                <input name="password" type="password">
                <input type="submit" value="로그인">
                <br>
                <br>
            </form>
            <a href="{% url 'user:signup'%}">회원가입</a>
            <a href="/SSUTUDY">홈으로</a>
            {% endif %}
        </div>
    </body>