{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SSUTUDY</title>
        <link rel="stylesheet" href="{% static '/css/index.css' %}">
    </head>

<body>
    <div id="todoapp">
        <h1>My To Do List</h1> 
        <form action="addTodoItem/" method = "post">{% csrf_token %}
            <input type="text" name="content">
            <input type="submit" value="Add Todo Item">
        </form> 

        <ul>
            {% for i in all_items %} 
            <li>{{i.content}}
            </li>
            {% endfor %}
        </ul> 

        <a href="/SSUTUDY">홈으로</a>
    </div>
</body>